<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Express Pizza</title>
  </head>
  <body>
    <h1>Welcome to Express Pizza</h1>
    <h2>Specialty Pizzas</h2>
    <ul>
      <li>
        <a href="/specialty?name=Anchovy+Lover's&price=15.00">Anchovy Lover's</a>
      </li>
      <li>
        <a href="/specialty?name=Paleo+Pizza&price=12.00">Paleo Pizza</a>
      </li>
      <li>
        <a href="/specialty?name=Dessert+Pizza&price=9.00">Dessert Pizza</a>
      </li>
    </ul>
    <h2>Custom Pizza</h2>
    <a href="/build-your-own">Build your own</a>
    <h2>Leave a review</h2>
    <a href="/review">Click here to leave a review</a>
    <footer>
      <img src="/pizza-slice.svg" alt="pizza slice" class="pizza-slice-img" />
    </footer>
  </body>
</html>